.categories-container {
  display: flex;
    max-width: 450px;
    min-width: 400px;
    width: 450px;
    border-radius: 15px;
    color: #333;
    margin: 10px;
    cursor: pointer;
  margin-left: 200px;
    transition: all 0.2s ease-out;
    border: 1px solid #ddd
  }
  