
.nav {
  background-color: #22bcc7;
  color: rgb(15, 14, 14);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 1rem;
  padding: 0 1rem;
}
.nav-link {
  display: flex;
  padding: 0;
  margin: 15px;
  margin-top: 20px;
  font-family:'Times New Roman', Times, serif;
  font-size:x-large;
  text-decoration: none;
  color: #0a0a0a;
}

.logo{
margin: 30px;
margin-left: 210px;
width: 200px;
height: 100px;
border-radius: 10px;
background-color:#22bcc7;
}
.nav ul {
  color: black;
  padding: 0;
  margin: 35px;
  margin-bottom: 60px;
  display: flex;
  font-family:'Times New Roman', Times, serif;
  font-size:x-large;
}
.nav >h1{
margin-right: 250px;
  color: #050505;
  font-size: 44px;
  font-family:'Times New Roman', Times, serif;
}